$theme-colors: (
  'cornflower-blue': #4A90E2,
  'cornflower-blue-dark': #00408B,
  'white-smoke': #F2F2F2,
  'white-smoke-light': #E1E1E1,
  'very-light-grey': #C8C8C8,
  'sonic-sliver': #757575,
  'nobel-grey': #9B9B9B,
  'venetian-red': #D0021B,
  'yellow-light': #FFF2DC
);

.mr-32px {
    margin-right: 32px;
}

.px-32px {
    padding-left: 32px;
    padding-right: 32px; 
}

.px-72px {
    padding-left: 72px;
    padding-right: 72px; 
}

.cursor-pointer {
    cursor: pointer;
}

.text-line-thru {
    text-decoration: line-through #9B9B9B;
}

.btn {
    &:focus {
        box-shadow: none !important;
    }
}

.btn-cornflower-blue:hover {
    background-color: #3982D7 !important;
}

.btn-white:hover {
    background-color: #FDFDFD !important;
}

@import "node_modules/bootstrap/scss/bootstrap";