
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500i,700,900");

$cover-img: 'https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/comic%20cover.png';
$ad-1: 'https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/ad-1.png';
$ad-2: 'https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/ad-2.png';

* {
    font-family: "Roboto", sans-serif;
}