$theme-colors: (
    'cornflower-blue': #4A90E2,
    'cornflower-blue-dark': #00408B,
    'white-smoke': #F2F2F2,
    'white-smoke-light': #E1E1E1,
    'very-light-grey': #C8C8C8,
    'sonic-sliver': #757575,
    'nobel-grey': #9B9B9B,
    'venetian-red': #D0021B,
    'yellow-light': #FFF2DC,

    'purple': #7828B4,
    'purple-light': #9013FE,
    'whisper': #EBEBEB,
    'light-grey': #D7D7D7,
    'black': #000000,

    'yellow-green': #7ED321
);

.mr-40px {
    margin-right: 40px;
}

.mr-32px {
    margin-right: 32px;
}

.mt-32px {
    margin-top: 32px;
}

.mb-32px {
    margin-bottom: 32px;
}

.p-32px {
    padding-left: 32px !important;
    padding-right: 32px !important;  
    padding-top: 32px;
    padding-bottom: 32px;
}

.pt-32px {
    padding-top: 32px;
}

.pl-32px {
    padding-left: 32px !important;
}

.px-32px {
    padding-left: 32px !important;
    padding-right: 32px !important; 
}

.py-32px {
    padding-top: 32px;
    padding-bottom: 32px;
}

.px-42px {
    padding-left: 42px;
    padding-right: 42px; 
}

.px-72px {
    padding-left: 72px;
    padding-right: 72px; 
}

@media (min-width: 768px) {
    .pr-md-32px {
        padding-right: 32px !important;
    }
}

@media (min-width: 992px) {
    .px-lg-32px {
        padding-right: 32px !important;
        padding-left: 32px !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.text-line-thru {
    text-decoration: line-through #9B9B9B;
}

.btn {
    &:focus {
        box-shadow: none !important;
    }
}

.btn-cornflower-blue:hover {
    background-color: #3982D7 !important;
}

.btn-white:hover {
    background-color: #FDFDFD !important;
}

@import 'node_modules/bootstrap/scss/bootstrap';